<%# ERROR HANDLING FOR INVALID IMAGE %>
<% if @data == nil %>
	<h1 class="margintop marginbtm">Hmmm... That doesn't seem like a valid image.</h1>
	<img class="boxshadow" src="http://cdn.list25.com/wp-content/uploads/2015/01/failgif7.gif">
<% elsif @data[0] == nil %>
	<h1 class="margintop marginbtm">Oops. We were unable to analyze your image.</h1>
	<img class="boxshadow" src="http://cdn.list25.com/wp-content/uploads/2015/01/failgif7.gif">
<% else %>
	<h1 class="modak shadow margintop">YourMood</h1>

	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12 boxshadow charts">
					<ul class="mui-tabs__bar mui-tabs__bar--justified">
					  <li class="mui--is-active"><a data-mui-toggle="tab" data-mui-controls="pane-justified-1">Bar Chart</a></li>
					  <li><a data-mui-toggle="tab" data-mui-controls="pane-justified-2">Pie Chart</a></li>
					</ul>
					<div class="mui-tabs__pane mui--is-active" id="pane-justified-1">
						<%= bar_chart [
						['Anger', @anger.to_f * 10],
						['Contempt', @contempt.to_f * 10],
						['Disgust', @disgust.to_f * 10],
						['Fear', @fear.to_f * 10],
						['Sadness', @sadness.to_f * 10],
						['Happiness', @happiness.to_f * 10],
						['Neutral', @neutral.to_f * 10],
						['Surprise', @surprise.to_f * 10]
					], max: 10%>
					</div>

					<div class="mui-tabs__pane" id="pane-justified-2">
						<%= pie_chart [
						['Anger', @anger.to_f * 10],
						['Contempt', @contempt.to_f * 10],
						['Disgust', @disgust.to_f * 10],
						['Fear', @fear.to_f * 10],
						['Sadness', @sadness.to_f * 10],
						['Happiness', @happiness.to_f * 10],
						['Neutral', @neutral.to_f * 10],
						['Surprise', @surprise.to_f * 10]
					], legend: false, colors: ['#2a57b8', '#2a808f', '#2a729c','#2a64aa','#2aa966','#2a9b74','#2a8d81','#2ab759'] %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 marginbtm">
					<img class="boxshadow upload" src="<%= @url %>">

					<%= form_for @mood do |form| %>
						<%= form.hidden_field :image, :value => @url %>
						<%= form.hidden_field :anger, :value => @anger %>
						<%= form.hidden_field :contempt, :value => @contempt %>
						<%= form.hidden_field :disgust, :value => @disgust %>
						<%= form.hidden_field :fear, :value => @fear %>
						<%= form.hidden_field :sadness, :value => @sadness %>
						<%= form.hidden_field :happiness, :value => @happiness %>
						<%= form.hidden_field :neutral, :value => @neutral %>
						<%= form.hidden_field :surprise, :value => @surprise %>
						<%= form.hidden_field :user_id, :value => @current_user.id %>
						<br >
						<%= form.submit 'Save Mood', :class => 'mui-btn mui-btn--primary button' %>
					<% end %>

				</div>
			</div>
		</div>

		<div class="col-md-1"></div>

		<div class="col-md-5 results boxshadow playlists">
			<p>Based on your results, you may like the following playlists:</p>
			<% if @anger.to_f > '.3'.to_f %>
				<%= form_for @favorite do |form| %>
					<iframe src="https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DX3YSRoSdA634" width="90%" height="380" frameborder="0" allowtransparency="true"></iframe>
					<%= form.hidden_field :url, :value => 'https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DX3YSRoSdA634' %>
					<%= form.hidden_field :user_id, :value => @current_user.id %>
					<br >
					<%= form.submit 'Add Playlist', :class => 'mui-btn mui-btn--primary button' %>
				<% end %>
				<%= form_for @favorite do |form| %>
					<iframe src="https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DWTl4y3vgJOXW" width="90%" height="380" frameborder="0" allowtransparency="true"></iframe>
					<%= form.hidden_field :url, :value => 'https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DWTl4y3vgJOXW' %>
					<%= form.hidden_field :user_id, :value => @current_user.id %>
					<br >
					<%= form.submit 'Add Playlist', :class => 'mui-btn mui-btn--primary button' %>
				<% end %>
			<% end %>

			<% if @contempt.to_f > '.3'.to_f %>
				<%= form_for @favorite do |form| %>
					<iframe src="https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DWVu0D7Y8cYcs" width="90%" height="380" frameborder="0" allowtransparency="true"></iframe>
					<%= form.hidden_field :url, :value => 'https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DWVu0D7Y8cYcs' %>
					<%= form.hidden_field :user_id, :value => @current_user.id %>
					<br >
					<%= form.submit 'Add Playlist', :class => 'mui-btn mui-btn--primary button' %>
				<% end %>
			<% end %>


			<% if @disgust.to_f > '.3'.to_f %>
				<%= form_for @favorite do |form| %>
					<p>Move On and Don't Look Back</p>
					<iframe src="https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DWYMvTygsLWlG" width="90%" height="380" frameborder="0" allowtransparency="true"></iframe>
					<%= form.hidden_field :url, :value => 'https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DWYMvTygsLWlG' %>
					<%= form.hidden_field :user_id, :value => @current_user.id %>
					<br >
					<%= form.submit 'Add Playlist', :class => 'mui-btn mui-btn--primary button' %>
				<% end %>
			<% end %>


			<% if @fear.to_f > '.3'.to_f %>
				<%= form_for @favorite do |form| %>
					<p>Relax and Unwind</p>
					<iframe src="https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DWU0ScTcjJBdj" width="90%" height="380" frameborder="0" allowtransparency="true"></iframe>
					<%= form.hidden_field :url, :value => 'https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DWU0ScTcjJBdj' %>
					<%= form.hidden_field :user_id, :value => @current_user.id %>
					<br >
					<%= form.submit 'Add Playlist', :class => 'mui-btn mui-btn--primary button' %>
				<% end %>
			<% end %>


			<% if @sadness.to_f > '.3'.to_f %>
				<%= form_for @favorite do |form| %>
					<iframe src="https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DX3rxVfibe1L0" width="90%" height="380" frameborder="0" allowtransparency="true"></iframe>
					<%= form.hidden_field :url, :value => 'https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DX3rxVfibe1L0' %>
					<%= form.hidden_field :user_id, :value => @current_user.id %>
					<br >
					<%= form.submit 'Add Playlist', :class => 'mui-btn mui-btn--primary button' %>
				<% end %>
				<%= form_for @favorite do |form| %>
					<iframe src="https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DX7QOv5kjbU68" width="90%" height="380" frameborder="0" allowtransparency="true"></iframe>
					<%= form.hidden_field :url, :value => 'https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DX7QOv5kjbU68' %>
					<%= form.hidden_field :user_id, :value => @current_user.id %>
					<br >
					<%= form.submit 'Add Playlist', :class => 'mui-btn mui-btn--primary button' %>
				<% end %>
			<% end %>


			<% if @happiness.to_f > '.3'.to_f %>
				<%= form_for @favorite do |form| %>
					<iframe src="https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DX9XIFQuFvzM4" width="90%" height="380" frameborder="0" allowtransparency="true"></iframe>
					<%= form.hidden_field :url, :value => 'https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DX9XIFQuFvzM4' %>
					<%= form.hidden_field :user_id, :value => @current_user.id %>
					<br >
					<%= form.submit 'Add Playlist', :class => 'mui-btn mui-btn--primary button' %>
				<% end %>
				<%= form_for @favorite do |form| %>
					<iframe src="https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DWY4xHQp97fN6" width="90%" height="380" frameborder="0" allowtransparency="true"></iframe>
					<%= form.hidden_field :url, :value => 'https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DWY4xHQp97fN6' %>
					<%= form.hidden_field :user_id, :value => @current_user.id %>
					<br >
					<%= form.submit 'Add Playlist', :class => 'mui-btn mui-btn--primary button' %>
				<% end %>
			<% end %>


			<% if @neutral.to_f > '.3'.to_f %>
				<%= form_for @favorite do |form| %>
					<iframe src="https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DWXLeA8Omikj7" width="90%" height="380" frameborder="0" allowtransparency="true"></iframe>
					<%= form.hidden_field :url, :value => 'https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DWXLeA8Omikj7' %>
					<%= form.hidden_field :user_id, :value => @current_user.id %>
					<br >
					<%= form.submit 'Add Playlist', :class => 'mui-btn mui-btn--primary button' %>
				<% end %>
			<% end %>


			<% if @surprise.to_f > '.3'.to_f %>
				<%= form_for @favorite do |form| %>
					<iframe src="https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DX3PIPIT6lEg5" width="90%" height="380" frameborder="0" allowtransparency="true"></iframe>
					<%= form.hidden_field :url, :value => 'https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DX3PIPIT6lEg5' %>
					<%= form.hidden_field :user_id, :value => @current_user.id %>
					<br >
					<%= form.submit 'Add Playlist', :class => 'mui-btn mui-btn--primary button' %>
				<% end %>
			<% end %>
		</div>

	</div>

<% end %>